<div class=" mypage-container" style="position: static; top: 0px;">
  <div class="inner-container">
    <h1 class="main-title">マイページ</h1>
      <section class="section" >
        <h2 class="section-header" >登録内容</h2>
        
        <button class="button-001">登録内容の変更</button>
        <button class="button-001">パスワードの変更</button>
      </section>
  </div>
</div>